In [37]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
from collections import Counter
from nltk import ngrams
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import seaborn as sns

In [33]:
US_df = pd.read_csv("US2021.csv", index_col=0)
US_df.head()

,title,score,id,url,coms_num,author,upvotes
0,St. Paul ‘sovereign citizen’ records himself s...,1764,naxke1,https://minnesotareformer.com/2021/05/08/st-pa...,219,zardogo,1764
1,District keeps kids at home because of lack of...,73,naywl0,https://apnews.com/article/coronavirus-pandemi...,3,brashendeavors,73
2,Tacoma man says he was stabbed after asking so...,2660,nab3az,https://www.kiro7.com/news/local/tacoma-man-sa...,599,DICK-FUCK-PUSSY-SUCK,2660
3,Israeli air strike destroys Gaza tower block,342,na47s3,https://www.aljazeera.com/news/2021/5/11/israe...,285,throwaway0152384,342
4,Elon Musk says Tesla will stop accepting bitco...,4068,nb17cy,https://www.cnbc.com/2021/05/12/elon-musk-says...,860,FletchForPresident,4068

In [40]:
titles = " ".join(US_df["title"])
words = word_tokenize(titles)

In [ ]:
def clean_words(new_tokens):
    new_tokens = [t.lower() for t in new_tokens]
    new_tokens = [t for t in new_tokens if t not in stopwords.words('english')]
    new_tokens = [t for t in new_tokens if t.isalpha()]
    lemmatizer = WordNetLemmatizer()
    new_tokens = [lemmatizer.lemmatize(t) for t in new_tokens]
    return new_tokens